<p id="notice"><%= notice %></p>

<h1>Vantagens</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vantagems.each do |vantagem| %>
      <tr>
        <td><%= vantagem.nome %></td>
        <td><button class="btn"><%= link_to 'Ver', vantagem, class: 'link-to-text-color' %></button></td>
        <td><button class="btn"><%= link_to 'Editar', edit_vantagem_path(vantagem), class: 'link-to-text-color' %></button></td>
        <td><button class="btn"><%= link_to 'Excluir', vantagem, class: 'link-to-text-color', method: :delete, data: { confirm: 'Tem certeza?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova vantagem', new_vantagem_path, class: 'link-to-text-color' %>
